<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Maksym Strilets</h3>
    <a href="/smoothies" class="btn" style="color:#EDEBD7;">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>